# .NET
bin/
obj/
*.user
*.suo
*.vs/
*.db

# Node
node_modules/
dist/
.env

# OS
.DS_Store
Thumbs.db

# Github folder for storing files and configurations related to GitHub-specific features
.github/

# VSCode settings folder
.vscode/